/* Подключение шрифта Google fonts - font-family: "Comfortaa", sans serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* Подключение шрифтов локально */
@font-face {
	font-family: "JosefaRounded";
	src: url("../fonts/JosefaRoundedMedium.woff2") format("woff2"), url("../fonts/JosefaRoundedMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "JosefaRounded";
	src: url("../fonts/JosefaRoundedBlack.woff2") format("woff2"), url("../fonts/JosefaRoundedBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}